---
layout: page
---
<div class="post">
  <article>
    {% if page.profiles %}
      {% for profile in page.profiles %}
        {% if forloop.first %}
          <!-- First profile: Show full details -->
          <hr>
          <div class="profile float-{% if profile.align == 'left' %}left{% else %}right{% endif %}">
            {% if profile.image %}
              {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
              {% if profile.image_circular %}
                {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
              {% else %}
                {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
              {% endif %}
              {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
              {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.image %}
            {% endif %}
            {% if profile.more_info %}
              <div class="more-info">{{ profile.more_info }}</div>
            {% endif %}
            <div class="clearfix">
              {% if profile.content %}
                {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
                {{ profile_content | markdownify }}
              {% else %}
                {{ content }}
              {% endif %}
            </div>
          </div>
        {% endif %}
      {% endfor %}

      <!-- Other profiles: Display in a responsive grid -->
      <hr>
      <div class="profile-grid">
        {% for profile in page.profiles offset:1 %}
          <div class="profile-item">
            {% if profile.image %}
              <img src="{{ profile.image | prepend: 'assets/img/' }}" alt="{{ profile.name }}" class="profile-image">
            {% endif %}
            <h3 class="profile-name">{{ profile.name }}</h3>
            <p class="profile-role">{{ profile.role }}</p>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </article>
</div>
